body {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/Background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    padding: 0;
    margin: 0;
}


#Folha1 {
    justify-content: center;
    align-items: center;
}
#Tab1 {
    width: 20%;
    height: 500px;
    text-decoration-color: white;
    background-color: #013243;
    padding-top: 20px;
    padding-bottom: 0px;
    display: inline-block;
    border-radius: 8px 0px 0px 8px;
}

#Tab1 h2{
color: white;
}

#Tab2 {
    background-color: white;
    width: 20%;
    height: 500px;
    padding: 10px;
    display: inline-block;
    border-top: 0.5px solid grey;
    border-right: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    border-radius: 0px 8px 8px 0px;
}

img{
    width: 100%;
    min-width: 70%;
    height: 398px;
}

div{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: inline-flex;
}

/** Estilos de formulários */

#formulario{
    border: none;
    padding-top: 50%;
}

.button {
    width: 75%;
    background-color: #013243; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 7px;
  }

  .form {
      height: 20px;
      width: 80%;
      border: none;
      border-bottom: 2px solid black;
  }

  .button:hover {
    background-color: white; /* Green */
    border: 1px solid black;
    color: #013243;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
  }

  form a{
    color: #013243;
    text-emphasis: bold;
  }




  /* Media query */

  @media only screen and (max-width: 1200px) {
    img {
        display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    #Folha1{
        display: table-column;
    }
  }